<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> Sai Portal </title>

<head>
<style>


th.a {
  text-transform: uppercase;text-align:justify;vertical-align: text-top;
}
th, td {
  padding: 10px;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
}
caption{text-transform : uppercase;font-size:150%;}

tr:nth-child(even) {
  background-color: #dddddd;}

tr:nth-child(odd) {
  background-color:F5FFFA;}
  tr:hover {background-color:00FFFF;}
</style>
</head>
<table style="width:100%">
<caption>resume</caption>

<tr>
<th class='a'>Address</th>
<td>Chandanagar <br /> Hyderabad <br /> India </td>
</tr>
<tr>
<th class='a'>Mobile</th>
<td>9553219995</td>
</tr>
<tr>

<th class='a'>Email </th>
<td> chaitanya.creator@gmail.com </td>
</tr>

<th class='a'>Carrier Objective</th>
<td> Looking for a challenging role in a reputable organization to utilize my technical, database, and management skills for the growth of the organization as well as to enhance my knowledge about new and emerging trends in the IT sector.</td>
</tr>



<tr>
<th class='a' rowspan="9">summary</th>

<td>Software Developer with experience of 4.6 years in object-oriented design and
implementation. Worked in different domain such as Banking , Energy, Legal Services,E-commerce</td>
</tr>
<tr><td>Solid experience working with Django, Flask framework.</td></tr>
<tr><td>Good at python programming and modules like pandas , matplotlib</td></tr>
<tr><td>Strong experience developing UI applications using HTML, CSS, JavaScript</td></tr>
<tr><td>Worked in Agile/Scrum methodology with strong sense of ownership of development.</td></tr>
<tr><td>Experience in using various version control systems like Git (GitHub / Bit bucket),SVN</td></tr>
<tr><td>Quick learner and flexible to work on multiple technologies.</td></tr>
<tr><td>Excellent verbal and written skills, especially with regards to presenting findings to software.</td></tr>


<tr><td>Excellent Interpersonal and communication skills, efficient time management and organization skills, ability to handle multiple tasks and work well in a team environment</td></tr>


<tr>
<th class='a' rowspan="8">Skills</th>

<td>Programming languages: Python , Java</td></tr>
<tr><td>Frameworks :Django, Flask</td></tr>
<tr><td>Database : MySQL, Elastic search</td></tr>
<tr><td>Web services: Amazon S3, Google App engine, Google Speech API ,Google Maps
API, Drools</td></tr>
<tr><td>Software Development: Agile methodology</td></tr>
<tr><td>Version Control: Sub version control, Github</td></tr>
<tr><td>Reporting Tools: Tableau</td></tr>
<tr><td>Having knowledge on Advanced Machine Learning Concepts, Natural Language
Processing, Artificial intelligence</td></tr>
<tr>
<th class='a' rowspan="2">Work Experince</th>

<td> Worked on Natural language processing in Othain Software as a Python Developer</td></tr>
<tr><td> Worked on Construction Material Management,Systems Management at Raghava Constructions as a Junior Executive </td><tr>

</td>
</tr>
<tr>
<th class='a'rowspan="2">Projects</th>
<td>Chabot</td></tr>
<tr><td>Fraud detection System </td></tr>

<tr>
<th class='a'>Education</th>
<td> Bachelor's of Technology in Computer Science and Engineering(2013),SRM University</td>
</tr>
